/* styles.css */

:root {
  --font-family: -apple-system, "Helvetica Neue", Arial, sans-serif;
  --line-height: 1.5;
  --primary-color: #db504a;
  --primary-text-color: #f4faff;

  --default-color: #fff;
  --default-text-color: #000;

  --header-height: 2rem;
  --header-top: 1.5rem;
  --icon-height: 3px;
  --icon-padding: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #084c61;
    --primary-text-color: #fff;

    --default-color: #031e26;
    --default-text-color: #fff;
  }
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
  background-color: var(--default-color);
  color: var(--default-text-color);
}

header {
  background: var(--primary-color);
  color: var(--primary-text-color);
  padding: var(--header-top);
  padding-bottom: calc(var(--header-top) - 1rem);
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1;
  height: var(--header-height);
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background: var(--primary-color);
  color: var(--primary-text-color);
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

/* Nav Guide */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: var(--header-top);
  right: var(--header-top);
  cursor: pointer;
}

.nav-toggle-label .hamburger {
  display: block;
  width: 30px;
  height: var(--header-height);
  position: relative;
}

.nav-toggle-label .hamburger span {
  display: block;
  background: var(--primary-text-color);
  height: var(--icon-height);
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

.nav-toggle-label .hamburger span:nth-child(1) {
  top: var(--icon-padding);
}

.nav-toggle-label .hamburger span:nth-child(2) {
  top: calc(var(--header-height) - var(--icon-padding) - var(--icon-height));
}

@media (max-width: 600px) {
  .nav-toggle-label {
    display: block;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  .nav-toggle:checked + .nav-toggle-label + nav ul {
    display: flex;
  }

  .nav-toggle:checked + .nav-toggle-label .hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
  }

  .nav-toggle:checked + .nav-toggle-label .hamburger span:nth-child(2) {
    transform: rotate(-45deg);
    top: 12px;
  }
}
